{
    "extends": "jquery",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "linebreak-style":"off",
        "eol-last":"off",
        "max-len":"off",
        "no-undef":"off",
        "quotes": ["error", "single"],
        "block-scoped-var": 2,
        "dot-notation": 2,
        "eqeqeq": 2,
        "semi": 2,
        "no-else-return": 2,
        "no-fallthrough": 2,
        "no-redeclare": 2,
        "wrap-iife": 2,
        "yoda": 0,
        "space-in-parens": 0,
        "space-before-function-paren": 0,
        "computed-property-spacing":"off"
    },
    "globals": {
        "$": true,
        "Promise": true,
        "visualiser": true,
        "animator": true
    }
}