body {
    padding: 10px;
    background-color: rgb(0, 13, 88);
}

body>div {
    margin-bottom: 50px;
}

#search-input {
    position: relative;
    height: 50px;
}

.search-field {
    text-align: center;
    font-size: x-large;
    width: 100%;
    height: 100%;
    color: rgb(204, 215, 250);
}

#result-current-weather {
    padding: 20px;
    height: 550px;
    background-color: rgb(0, 42, 83);
}

#city-weather {
    width: 27%;
    position: relative;
}

#city-weather #new-city-weather {
    height: 100%;
    position: absolute;
    display: none;
}

#city-addit-info {
    width: 70%;
}

#city-addit-info .info {
    width: 90%;
    height: 80%;
    margin: 5%;
    border-spacing: 20px;
}

#result-forecast {
    height: 350px;
    padding: 20px;
    background-color: rgb(0, 42, 83);
}

#result-forecast .outer {
    height: 100%;
    margin: 0;
    padding: 0;
}

#result-forecast .inner {
    position: relative;
    list-style-type: none;
    width: 10%;
}

#result-forecast .addit-forecast-info {
    width: 90%;
    height: 90%;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 20%;

    position: absolute;
    display: none;
    
    background-color: rgb(49, 72, 136);
}

#otherTowns {
    height: 450px;
    padding: 30px;
    background-color: rgb(0, 42, 83);
}

#otherTowns .outer {
    height: 100%;
    margin: 0;
    padding: 0;
}

#otherTowns .inner {
    list-style-type: none;
    width: 18%;
    position: relative;
}

#otherTowns .inner a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bordered {
    border-radius: 25px;
}

.shadowed {
    box-shadow: 5px 10px #00061f;
}

.inner {
    background-color: rgb(28, 56, 133);
}

.outer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.table-cell:first-child {
    background-color: rgb(49, 72, 136);
    text-align: center;
    width: 20%;
}

.table-cell {
    background-color: rgb(65, 91, 160);
    text-align: right;
    font-size: x-large;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(204, 215, 250);
}

.city-name {
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    color: rgb(204, 215, 250);
    font-size: xx-large;
}

.city-info {
    text-align: center;
    color: rgb(204, 215, 250);
    font-size: x-large;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.forecast-time {
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    color: rgb(204, 215, 250);
    font-size: large;
}

.forecast-info {
    color: rgb(204, 215, 250);
    font-size: large;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.img-size {
    width: 70%;
    padding-left: 15%;
}

